<main>
    <bud-navbar></bud-navbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8">
                <h1>{{title}}</h1>
                <h2>{{desc}}</h2>
                <h3>{{est}}</h3>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img src="../../images/fail_1.jpg" alt="vinyl plank failure due to moisture" class="img-circle img-responsive">
            </div>
            <div class="col-xs-4">
                <img src="../../images/fail_2.jpg" alt="vinyl plank failure due to moisture" class="img-circle img-responsive">
            </div>
            <div class="col-xs-4">
                <img src="../../images/fail_3.jpg" alt="vinyl plank failure due to moisture" class="img-circle img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Moisture issues in flooring is an issue that can be handled by Mr-Epoxy.</h2>
            </div>
        </div>
    </div>
</main>