h1, h2 {
    font-family: cooper;
    font-weight: 600;
}
h1, h2, h3 { 
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 3.5em;
    color: rgb(0, 255, 179);
    text-shadow: 3px 3px #000;
}
h2 { font-size: 2em; }
img.home-img {
    margin: 25px auto;
    border: 10px solid rgb(0, 255, 179);
}
header {
    min-height: 10%;
}