<main>
    <bud-navbar></bud-navbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-md-3"></div>
            <div class="col-xs-10 col-md-6">
                <img src="../../images/mr-epoxy.png" alt="mr epoxy" class="img-responsive">
                <h2>{{desc}}</h2>
                <h3>{{est}}</h3>
            </div>
            <div class="col-xs-1 col-md-3"></div>
        </div>
        <div class="row">
            <div class="hidden-xs hidden-sm col-lg-3"></div>
            <div class="col-xs-12 col-sm-4 col-lg-2">
                <img src="../../images/fail_1.jpg" alt="vinyl plank failure due to moisture" class="img-circle img-responsive home-img">
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-2">
                <img src="../../images/fail_2.jpg" alt="vinyl plank failure due to moisture" class="img-circle img-responsive home-img">
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-2">
                <img src="../../images/fail_3.jpg" alt="vinyl plank failure due to moisture" class="img-circle img-responsive home-img">
            </div>
            <div class="hidden-xs hidden-sm col-lg=3"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Moisture issues in flooring are eliminated by Mr-Epoxy.</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h6 class="budrice">website developed by <a href="https://github.com/budrice" target="_blank" class="budrice-link">budrice</a></h6>
            </div>
        </div>
    </div>
</main>