<div class="container" id="eldis_webapp_about_page">
    <div class="row">
        <div class="mx-auto">
            <div class="py-0 w-100 jumbotron">
                <div class="py-2 row">
                    <h4>About</h4>
                </div>
                <div class="row">
                    <div class="mb-2 panel-img col text-center" style="background: #000; border-radius: 5px;">
                        <code>if (work) { do (hardWork) while { work }; }</code>
                    </div>
                </div>
               
                <div class="py-6 row">
                    <div class="col">
                        <p class="text text-center"><strong>9/2014 to 5/2018</strong><br>
                        <strong>Applied Technology Resources, Inc</strong><br>Web Developer / Programmer</p>
                    </div>
                    <div class="col">
                        <p class="text text-center"><strong>8/2008 to 7/2012</strong><br>
                        <strong>Technology<br>Conservation Group, Inc.</strong><br>Manager / Programmer</p>
                    </div>
                    <div class="col">
                        <p class="text text-center"><strong>9/2001 to 7/2008</strong><br>
                        <strong>Pro Floor Technology, Inc.</strong><br>Owner / Operator / Web Developer</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <p class="text text-center"><strong>9/2012 to 9/2014</strong><br>
                        <strong>Kaplan University</strong>&nbsp;&nbsp;99 credits 3.2gpa</p>
                        <p class="text">
                            <ul>
                                <li>C# - all 3 levels offered</li>
                                <li>VB - all 3 levels offered</li>
                                <li>Java - all 3 levels offered</li>
                                <li>XHTML / CSS3 - all 3 levels offered</li>
                                <li>HTML5 / CSS3 - all 3 levels offered</li>
                                <li>Math - Algebra, Business logic</li>
                                <li>Databases - all 3 levels offered</li>
                                <li>Networks - all 3 levels</li>
                                <li>Project Management - 2 levels</li>
                                <li>Human Relations - 4 courses</li>
                                <li>Microsoft Office - 1 course</li>
                                <li>Microsoft Windows - 1 course</li>
                                <li>Sciences - 2 levels</li>
                            </ul>
                        </p>
                    </div>
                    <div class="panel-img col-6">
                        <img src="../../images/wildrice.jpg"" alt="wildrice" id="about_panel_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>