footer#eldis_webapp_footbar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0 0 20px;
	background: transparent;
/*	background-color: #343a40;
	border-top: 1px solid #767676;
	color: rgba(255, 255, 255, .5);*/
	text-align: left;
	margin-bottom: 0;
}
