<div class="back-header container">
    <header style="margin-top: 35px;">
        <h3>Thank you {{ customer.username }},</h3>
        <h5>You have placed an order described below. One of our representatives will be glad to finalize this purchase.</h5>
    </header>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="row" style="margin-top: 35px;">
                <img src="../../images/mr-epoxy.png" alt="mr epoxy" class="img-responsive">
            </div>
            <div class="row">
                <h3 style="text-align: center;">moisture mitigation epoxy</h3>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-4"><h5>Product</h5></div>
        <div class="col-xs-2 tar"><h5>Qty</h5></div>
        <div class="col-xs-3 tar"><h5>Price</h5></div>
        <div class="col-xs-3 tar"><h5>SubTotal</h5></div>
    </div>
    <div class="row" ng-repeat="product in customer.cart">
        <div class="col-xs-4"><h5>{{ product.product_name }}</h5></div>
        <div class="col-xs-2 tar"><h5>{{ product.quantity }}</h5></div>
        <div class="col-xs-3 tar"><h5>{{  product.price | currency:"$" }}</h5></div>
        <div class="col-xs-3 tar"><h5>{{  product.total | currency:"$" }}</h5></div>
    </div>
    <div class="row total-row">
        <div class="col-xs-5 tar"></div>
        <div class="col-xs-3 total-label"><h5><strong>Total</strong></h5></div>
        <div class="col-xs-3 total-box"><h5>{{  customer.total | currency:"$" }}</h5></div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="hidden-xs col-sm-6 col-lg-8"></div>
        <div class="col-xs-6 col-sm-3 col-lg-2"><button class="btn btn-info big-btn form-control" ng-click="goBack()" ng-hide="hide_back">Keep Shopping</button></div>
        <div class="col-xs-6 col-sm-3 col-lg-2"><button class="btn btn-success big-btn form-control" ng-click="invoice()" ng-hide="hide_back">Place Order</button></div>   
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="budrice">website developed by <a href="https://github.com/budrice" target="_blank" class="budrice-link">budrice</a></h6>
        </div>
    </div>
</div>