nav.navbar {
    background-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}
ul.nav {
    margin-top: 0;
}
button, a {
    margin-right: 3px;
}
button:hover {
    background-color: rgb(0, 123, 128);
    color: rgb(255, 255, 255);
}
div.navbar-header a {
    color: rgb(0, 0, 0);
}
.right {
	float: right;
}
.btn-info {
    color: rgb(0, 0, 0);
}
.navbar-text {
    font-size: 16px;
}

div.navbar-header a.cooper {
    font-family: cooper;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 24px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
div.navbar-header a.cooper:hover {
    text-decoration: none;
}
div.navbar-header,
.form-control {
    height: 65px;
}
@media (max-width: 767px) {
    .navbar-header { text-align: center; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header { text-align: left; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-header { text-align: left; }
}
@media (min-width: 1200px) {
    .navbar-header { text-align: left; }
}