<main>
    <bud-navbar></bud-navbar>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <form name="contact_form">
                        <label for="contact_form_subject">Subject:&nbsp;</label>
                        <input type="text" class="form-control" ng-model="contact.subject">
                        <br>
                        <label for="contact_form_subject">Message:&nbsp;</label>
                        <textarea class="form-control" id="contact_textarea" ng-model="contact.message"></textarea>
                    </form>
                </div>
                
            </div>
            <div class="row">
                <div class="hidden-xs col-sm-8 col-md-10"></div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <br>
                    <button class="btn btn-success form-control" ng-click="send()">Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="budrice">website developed by <a href="https://github.com/budrice" target="_blank" class="budrice-link">budrice</a></h6>
                </div>
            </div>
        </div>
</main>
