<div class="container" id="eldis_webapp_contact_container">
    <div class="row">
        <div class="col mx-auto">
            <div class="py-0 w-100 jumbotron">
                <div class="py-2 row">
                    <h4>Contact</h4>
                </div>
                <div class="py-3 row">
					<form name="contact_form">
						<label for="contact_form_subject">Subject:&nbsp;</label>
						<input type="text" class="form-control" ng-model="contact.subject">
						<br>
						<label for="contact_form_subject">Message:&nbsp;</label>
						<textarea class="form-control" id="contact_textarea" ng-model="contact.message"></textarea>
					</form>
                </div>
                <div class="row">
                    <button class="btn btn-info" ng-click="send()">Send</button>
                </div>
				<div class="row">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 class="budrice">website developed by <a href="https://github.com/budrice" target="_blank" class="budrice-link">budrice</a></h6>
        </div>
    </div>
</div>
