<main>
    <bud-navbar></bud-navbar>
    <header></header>
    <div class="container" style="max-width: 1012px; height: 78vh;">
        <div class="row">
            <div class="mx-auto">
                <div class="jumbotron" style="color: red">
                    <h1><span class="error-404">404</span>
                    </h1>
                    <p>The page you're looking for could not be found.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</main>