#navsidebar {
	border: 1px solid #767676;
	min-width: 200px;
}
.navbar-brand {
	font-size: 14px;
	max-width: 170px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.right {
	float: right;
}
div#navbarNavDropdown {
	width: 100%;
}