header {
    min-height: 10%;
}
div#eldis_app_login_box {
	width: 100%;
	position: relative;
	padding: 10px;
	background-color: #343a40;
	border: 1px solid #767676;
	margin-bottom: 150px;
}
div#eldis_app_login_box p {
	color: #28a745;
	text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
div#eldis_app_login_box label {
	font-family: "Calibri";
	font-weight: 100;
	color: rgb(255, 255, 255);
}

div#eldis_app_login_box button {
	margin: 3px auto;
}
.panel {
	border-radius: 9px;
	border: 1px solid rgba(0, 0, 0, 1);
}
.vanish {
	display: none;
}
.appear {
	display: block;
}
/*input.ng-valid {
	background-color: rgb(0, 255, 0);
}*/