<div class="container" id="eldis_webapp_technologies_page">
    <div class="row">
        <div class="mx-auto">
            <div class="py-0 w-100 jumbotron">
                <div class="py-2 row">
                    <h4>Technologies</h4>
                </div>
                <div class="row">
                    <div class="panel-img col">
                        <img src="../../images/code__.jpg"" alt="wildrice" id="about_panel_img">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text">
                            <ul>
                                <li>JavaScript | JQuery</li>
                                <li>Node JS:
                                    <ul>
                                        <li>MySQL connection</li>
                                        <li>web scrapers</li>
                                        <li>API's | services | file servers</li>
                                        <li>Socket&nbsp;IO</li>
                                        <li>Console apps</li>
                                    </ul>
                                </li>
                                <li>Angular JS 1.7</li>
                                <li>Knockout JS</li>
                                <li>AJAX</li>
                                <li>MySQL</li>
                                <li>HTML5 | XHTML | CSS3 | Bootstrap 3 & 4</li>
                                <li>PhotoShop</li>
                                <li>GIT - GitHub / Bitbucket</li>
                                <li>NPM</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text">
                            <ul>
                                <li>Visual Studio 2017</li>
                                <li>C#
                                    <ul>
                                        <li>API's, Excel spreadsheets</li>
                                        <li>Access, MsSQL, MySQL db connections</li>
                                        <li>Windows forms | .ASP</li>
                                        <li>Console apps</li>
                                    </ul>
                                </li>
                                <li>C# / VB - Windows forms | .ASP</li>
                                <li>Bug Tracker - bug management</li>
                                <li>VBA Ms Access</li>
                                <li>AutoIT</li>
                                <li>VirtualBox</li>
                                <li>Ms Office Suite</li>
                            </ul>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
